<div class="wrapper">
  <h2 class="list-title">Posts List</h2>
  <div class="card-holder">
    <mat-card class="card"
              *ngFor="let post of allPost"
    >
      <h3 class="card-title" (click)="goToDetailPost(post.id)">{{post.title}}</h3>
      <p>{{post.body}}</p>
      <h3 class="card-title" (click)="goToAuthorPost(post.userId)">Author: {{post.userId}} </h3>
    </mat-card>
  </div>
</div>
