.wrapper{
  .list-title {
    text-align: center;
  }
  .card-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      margin: 30px;
      border: 1px solid #000;
      background-color: #eee;
      width: 300px;
      -webkit-box-shadow: 7px 5px 17px 2px #bebebe;
      box-shadow: 7px 5px 17px 2px #bebebe;
      &:hover{
        background-color: #dedede;
      }
      .card-title{
        cursor: pointer;
      }
    }
  }
}
