.wrapper{
  .list-title {
    text-align: center;
  }
  .posts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    .post{
      margin: 20px auto;
      border: 1px solid #000;
      border-radius: 3px;
      background-color: #ebebeb;
    }
  }
}
