<div class="wrapper">
  <h2 class="list-title">Author page</h2>
  <div class="posts">
    <mat-card class="post"
              *ngFor="let post of allAuthorPosts"
    >
      <p> {{post.id}}</p>
      <p> {{post.title}}</p>
      <p> {{post.body}}</p>
    </mat-card>
  </div>
</div>
