.wrapper{
  h2{
    text-align: center;
  }
  .post-holder{
    width: 80%;
    margin: 0 auto;
    .post{
      font-size: 28px;
    }
    .comments-length{
      font-size: 16px;
    }
    .comment{
      margin: 20px auto;
      max-width: 600px;
      border: 1px solid #000;
      border-radius: 3px;
      background-color: #ebebeb;
      .comment-title{
        font-weight: bold;
      }
    }
  }
}
