<div class="wrapper" *ngIf="post && postComments">
  <h2>{{post.title}}</h2>
  <div class="post-holder">
    <p class="post">{{post.body}}</p>
    <strong class="comments-length">comments: {{postComments.commentsLength}}</strong>
    <div class="comments">
      <mat-card class="comment"
                *ngFor="let comment of postComments"
      >
        <p><strong>Comment:</strong> {{comment.body}}</p>
        <p><strong>Author:</strong> {{comment.name}}</p>
        <p><strong>Email:</strong> {{comment.email}}</p>
      </mat-card>
    </div>
  </div>
</div>
